MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=safeyou
PORT=3000
SCAN_TIMEOUT_MS=8000
ADMIN_PASSWORD=choose-a-strong-password
ADMIN_SESSION_SECRET=generate-a-long-random-secret
URLSCAN_ENABLED=true
URLSCAN_API_KEY=
URLSCAN_SUBMIT=true
URLSCAN_VISIBILITY=unlisted
URLSCAN_WAIT_MS=12000
